<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Whereisjellyfish</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.js"></script>
        <style>
          @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
          h4 { font-family: 'Nanum Pen Script', cursive; }
        </style>
        <style type="text/css">
            #fontsize {font-size: 300%;}
        </style>
        <script>
        $(document).ready(function(){
                $("#div1").fadeIn();
        });
        </script>
    </head>
    <body class=" ">
        <div class="main-container">
            <section class="space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="masonry masonry-blog-magazine">
                                <div class="row">
                                    <div class="masonry__container">


                                      <div class="masonry__item col-md-2" data-masonry-filter="Design">
                                          <a class="block">
                                              <article class="imagebg border--round height--30">
                                                  <div class="background-image-holder">
                                                        <img alt="background" src="img/흰색.jpg"/>
                                                  </div>
                                                  <div class="article__title">
                                                      <a href="http://smartstore.naver.com/heimnheim/products/729072943?n_media=27758&n_query=%EB%B0%94%EB%8B%B7%EA%B0%80%EB%8F%97%EC%9E%90%EB%A6%AC&n_rank=1&n_ad_group=grp-a001-02-000000002595023&n_ad=nad-a001-02-000000011846326&n_campaign_type=2&n_mall_pid=729072943&NaPm=ct%3Djh23ycbc%7Cci%3D0zu0002lHdjo_bqFdKGM%7Ctr%3Dpla%7Chk%3D5b4d0a9b823bf7fcab4a791af6562f3bdcb89b2f"><img src="img/돗자리.jpg" border="0"></a>
                                                      <a href="http://smartstore.naver.com/heimnheim/products/729072943?n_media=27758&n_query=%EB%B0%94%EB%8B%B7%EA%B0%80%EB%8F%97%EC%9E%90%EB%A6%AC&n_rank=1&n_ad_group=grp-a001-02-000000002595023&n_ad=nad-a001-02-000000011846326&n_campaign_type=2&n_mall_pid=729072943&NaPm=ct%3Djh23ycbc%7Cci%3D0zu0002lHdjo_bqFdKGM%7Ctr%3Dpla%7Chk%3D5b4d0a9b823bf7fcab4a791af6562f3bdcb89b2f" style = "color:black">바닷가용 돗자리 판매</a>
                                                  </div>
                                              </article>
                                          </a>
                                      </div>
                                        <!--end item-->
                                        <div id="div1" style = "display:none;" class="masonry__item col-md-8" data-masonry-filter="Design">
                                            <a class="block">
                                                <article class="imagebg border--round height--30">
                                                    <div class="background-image-holder">
                                                        <img alt="background" src="img/결과.jpg">
                                                    </div>
                                                </article>
                                            </a>
                                        </div>
                                        <!--eㅁnd item-->

                <!--end of container-->
            </section>

        </div>
        <!--<div class="loader"></div>-->
        <div class = "text-center">
          <h4 id="fontsize">선택하신 날짜의 지역은 해파리로부터 안전합니다!</h4>
        </div>

        <script>
        //데이터와 비교하기

        //출몰 가능성 가장 높은 해파리: 조건문으로 nomura, boreum, 중 하나로 이동하도록 함수 설계

        //해파리 사진 노무라, 보름달, 기타해파리 각각 3개씩 구해서 출몰 가능성이 가장 높은 해파리 사진을 넣기

        //

        </script>

        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/flickity.min.js"></script>
        <script src="js/easypiechart.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/typed.min.js"></script>
        <script src="js/datepicker.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/ytplayer.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/granim.min.js"></script>
        <script src="js/jquery.steps.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
