<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Whereisjellyfish</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <!--font awesome -->
        <script>
        $(document).ready(function(){
        $("#J").fadeIn();
        $("#JJ").fadeIn("slow");
        $("#JJJ").fadeIn(800);
        $("#JJJJ").fadeIn(1000);
        });
      </script>

    </head>
    <body class=" " style= "overflow: hidden">
        <div class="main-container">
            <section class="space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="masonry masonry-blog-magazine">
                                <div class="row">
                                    <div class="masonry__container">
                                        <div class="masonry__item col-md-4"></div>
                                        <div class="masonry__item col-md-3 " data-masonry-filter="Marketing">
                                            <a class="block">
                                                <article class="imagebg border--round" data-scrim-bottom="8">

                                                    <div class="background-image-holder">
                                                        <img alt="background" src="http://www.uux.cn/attachments/2014/12/1_201412161258431nOvN.jpg" />
                                                    </div>
                                                    <div class="article__title">
                                                        <h4 style ="text-align : center">노무라입깃해파리</h4>
                                                        <h4></h4>
                                                    </div>
                                                </article>
                                            </a>
                                        </div>
                                        <!--end item-->
                                        <div class="masonry__item col-md-8" data-masonry-filter="Marketing">
                                            <a class="block" href="/nomura" target="_blank">
                                                <article class="imagebg border--round" data-overlay="8">
                                                    <div class="background-image-holder">
                                                        <img alt="background" src="../img/haepari.jpg" />
                                                    </div>
                                                    <div style="text-align : center">
                                                      <div id="J" style="display:none;">
                                                      <br><br><br>

                                                      <h4><i class="fas fa-bolt" style="font-size:1.5em; color : tomato;"></i>
                                                        해파리 특성에 대한 자세한 설명
                                                        <i class="fas fa-bolt" style="font-size:1.5em; color : tomato;"></i>
                                                      </h4></div>
                                                      <div id="JJ" style="display:none;">
                                                      <br><br><br><h4>
                                                        <i class="fas fa-chart-bar" style="font-size:1.5em; color : tomato;"></i>
                                                        지난 출몰 내역과 발견 빈도
                                                        <i class="fas fa-chart-bar" style="font-size:1.5em; color : tomato;"></i>
                                                      </h4><div>
                                                    </div>
                                                </article>
                                            </a>
                                        </div>
                                        <!--end item-->
                                        <div class="masonry__item col-md-3" data-masonry-filter="Design">
                                            <a class="block">
                                                <article class="imagebg border--round" data-scrim-bottom="8">
                                                    <div class="background-image-holder">
                                                        <img alt="background" src="http://animal.memozee.com/Arch03/1125976112-m.jpg" />
                                                    </div>
                                                    <div class="article__title">

                                                        <h4>보름달물해파리</h4>
                                                    </div>
                                                </article>
                                            </a>
                                        </div>
                                        <!--end item-->
                                        <div class="masonry__item col-md-8" data-masonry-filter="Inspiration">
                                            <a class="block" href="/emergency1" target="_blank">
                                                <article class="imagebg border--round" data-overlay="8">
                                                    <div class="background-image-holder">
                                                        <img alt="background" src="http://cfile22.uf.tistory.com/original/270AD13F5358A27E461D9D" />
                                                    </div>
                                                    <div style=" text-align : center ;">
                                                      <div id="JJJ" style="display:none;">
                                                      <br><br>
                                                      <h4> <i class="fas fa-skull fa-spin" style="font-size:1.5em; color : tomato;"></i> 해파리에 쏘이셨나요?
                                                        <i class="fas fa-skull fa-spin" style="font-size:1.5em; color : tomato;"></i> </h4>
                                                        <br><br><br></div>
                                                      <div id="JJJJ" style="display:none;">
                                                      <h4>
                                                        <i class="fas fa-ambulance" style="font-size:1.5em; color : tomato;">
                                                      </i>    죽기 전에 확인하세요!
                                                      <i class="fas fa-ambulance" style="font-size:1.5em; color : tomato;"></i></h4>
                                                    </div></div>

                                                </article>
                                            </a>
                                        </div>
                                        <!--end item-->


                <!--end of container-->
            </section>

        </div>
        <!--<div class="loader"></div>-->

        <script>
        //데이터와 비교하기

        //출몰 가능성 가장 높은 해파리: 조건문으로 nomura, boreum, 중 하나로 이동하도록 함수 설계

        //해파리 사진 노무라, 보름달, 기타해파리 각각 3개씩 구해서 출몰 가능성이 가장 높은 해파리 사진을 넣기

        //

        </script>

        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/flickity.min.js"></script>
        <script src="js/easypiechart.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/typed.min.js"></script>
        <script src="js/datepicker.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/ytplayer.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/granim.min.js"></script>
        <script src="js/jquery.steps.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
